.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.header-wrapper{
  background-color: #fdfdfd;
}

.search-input{
  border: 1px solid gray;
  border-radius: 2px;
}

.card{
  width: 250px; 
  border-top: 4px solid #a020f0;
  cursor: pointer;
  transition: all 0.2s;
  background: white;
}

.card:hover{
  transform: scale(1.2);
}

.sub-heads{
  width: 9ch;
  display: inline-block;
}

.card-val{
  height: fit-content;
  display: inline-block;
}

.book-wrapper{
  background-color: #fb04fb0d;
}